@page
@model IndexModel
@{
}

<br />
<h2>Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

<!-- Check if Books are in Database -->
@if (Model.Books.Count() > 0)
{
    <div>Books Available!</div>
}
else
{
    <div>No Books in Databse</div>
}